# Server
PORT=5000

# Postgres (Sequelize uses Backend/config/config.json by default)
# DB_HOST=127.0.0.1
# DB_PORT=5432
# DB_NAME=asset_tracking
# DB_USER=postgres
# DB_PASS=zapostgres101

# Auth
JWT_SECRET=zsdfhghnmmpjuycceq124v6f6vhvbnuycjbcrs@ecyvyubkmmoibbn$gcgvhbjhhcxADFBJNIHUih
JWT_EXPIRES_IN=7d

# Optional: enable admin bootstrap endpoint /api/auth/register-admin
# ADMIN_REGISTER_TOKEN=some_admin_bootstrap_token

